<div class="wrapper">
  <!-- Sidebar -->
    <c-sidebar [(visible)]="isSidebarVisible" class="sidebar-nav">
      <c-sidebar-brand class="header text-light">
        <p>Sidebar Brand</p>
      </c-sidebar-brand>
      <c-sidebar-nav [navItems]="sidebar" dropdownMode="close"> </c-sidebar-nav>
    </c-sidebar>

  <!-- Main Content -->
  <div class="main-container" [ngClass]="{'small-screen': isSmallScreen}">
    <img *ngIf="isSmallScreen" (click)="toggleSidebar()" src="../assets/icon/options-lines (1).png" alt="">
    <router-outlet></router-outlet>
  </div>
</div>